<!doctype html>
<html lang="en">
    <head>
        <!-- Endfield index import --->
        <style>
            @import url("http://localhost:57391/dist/Endfield/index.css");
        </style>
        <!-- Endfield index import --->

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Anto93&#039;s Profile | SpaceHey</title>

        <link rel="preconnect" href="https://static.spacehey.net" crossorigin />
        <link rel="preconnect" href="https://cdn.spacehey.net" crossorigin />

        <script
            src="https://spacehey.com/js/script.js?c=a053af82d2bb2dcc81f8115cd4f99d3e5ecbd7570947c64f0d28c0e7acbb0fca"
            async
        ></script>

        <link rel="stylesheet" href="https://spacehey.com/css/normalize.css" />
        <link
            rel="stylesheet"
            href="https://spacehey.com/css/my.css?c=046e06aec02086610fcf5a73169cc5f09e6c38c7f1168b109eacaa97fa78dde5"
        />

        <link rel="dns-prefetch" href="https://static.spacehey.net" />
        <link rel="dns-prefetch" href="https://cdn.spacehey.net" />

        <link
            rel="shortcut icon"
            type="image/x-icon"
            href="https://spacehey.com/favicon.ico?v=2"
        />

        <meta name="title" content="Anto93&#039;s Profile | SpaceHey" />
        <meta
            name="description"
            content="SpaceHey is a retro social network focused on privacy and customizability. It's a friendly place to have fun, meet friends, and be creative. Join for free!"
        />

        <meta property="og:type" content="website" />
        <meta property="og:title" content="Anto93&#039;s Profile | SpaceHey" />
        <meta
            property="og:description"
            content="SpaceHey is a retro social network focused on privacy and customizability. It's a friendly place to have fun, meet friends, and be creative. Join for free!"
        />
        <meta
            property="og:image"
            content="https://static.spacehey.net/img/default/profilepic.png"
        />
        <meta property="og:site_name" content="SpaceHey" />

        <meta property="twitter:site" content="@spacehey" />
        <meta property="twitter:card" content="summary" />
        <meta
            property="twitter:title"
            content="Anto93&#039;s Profile | SpaceHey"
        />
        <meta
            property="twitter:description"
            content="SpaceHey is a retro social network focused on privacy and customizability. It's a friendly place to have fun, meet friends, and be creative. Join for free!"
        />
        <meta
            property="twitter:image"
            content="https://static.spacehey.net/img/default/profilepic.png"
        />

        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="https://spacehey.com/img/favicons/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="https://spacehey.com/img/favicons/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="https://spacehey.com/img/favicons/favicon-16x16.png"
        />
        <link
            rel="mask-icon"
            href="https://spacehey.com/img/favicons/safari-pinned-tab.svg"
            color="#1D4ED8"
        />
        <link
            rel="manifest"
            href="https://spacehey.com/img/favicons/site.webmanifest"
        />
        <meta name="apple-mobile-web-app-title" content="SpaceHey" />
        <meta name="application-name" content="SpaceHey" />
        <meta name="msapplication-TileColor" content="#1D4ED8" />
        <meta
            name="msapplication-config"
            content="https://spacehey.com/img/favicons/browserconfig.xml"
        />
        <meta name="theme-color" content="#1D4ED8" />

        <link
            href="https://spacehey.com/opensearch.xml"
            rel="search"
            title="Search SpaceHey"
            type="application/opensearchdescription+xml"
        />

        <link rel="canonical" href="https://spacehey.com/profile?id=4293092" />
    </head>

    <body data-base="https://spacehey.com">
        <!-- [spacehey.com] SpaceHey Server: webserver-1 -->

        <div class="container">
            <nav class="">
                <div class="top">
                    <div class="left">
                        <a href="https://spacehey.com/home">
                            <img
                                class="logo logo-fallback"
                                src="https://static.spacehey.net/img/logo_optimized.svg"
                                alt="SpaceHey"
                                fetchpriority="high"
                                style="aspect-ratio: 55/14"
                            />
                        </a>
                    </div>
                    <div class="center">
                        <form
                            action="https://spacehey.com/search"
                            role="search"
                        >
                            <label for="q">Search Users:</label>
                            <div class="search-wrapper">
                                <input
                                    id="q"
                                    type="text"
                                    name="q"
                                    autocomplete="off"
                                />
                            </div>
                            <button type="submit">Search</button>
                        </form>
                    </div>
                    <div class="right">
                        <a href="https://spacehey.com/help" rel="help">Help</a>
                        |
                        <form
                            action="https://spacehey.com/logout"
                            method="post"
                            class="logout-form"
                        >
                            <button
                                class="logout-btn"
                                type="submit"
                                name="submit"
                            >
                                LogOut
                            </button>
                        </form>
                    </div>
                </div>
                <ul class="links">
                    <li class="">
                        <a href="https://spacehey.com/home">Home</a>
                    </li>
                    <li class="">
                        <a href="https://spacehey.com/browse">Browse</a>
                    </li>
                    <li class="">
                        <a href="https://spacehey.com/search">Search</a>
                    </li>
                    <li class="">
                        <a href="https://im.spacehey.com">Messages</a>
                    </li>
                    <li class="">
                        <a href="https://blog.spacehey.com">Blog</a>
                    </li>
                    <li class="">
                        <a href="https://spacehey.com/bulletins">Bulletins</a>
                    </li>
                    <li class="">
                        <a href="https://forum.spacehey.com/">Forum</a>
                    </li>
                    <li class="">
                        <a href="https://groups.spacehey.com">Groups</a>
                    </li>
                    <li class="">
                        <a href="https://layouts.spacehey.com">Layouts</a>
                    </li>
                    <li class="">
                        <a href="https://spacehey.com/favorites">Favs</a>
                    </li>
                    <li class="">
                        <a href="https://spacehey.com/invite">Invite</a>
                    </li>
                    <li class="">
                        <a
                            href="https://spacehey.com/mobile"
                            title="SpaceHey Mobile"
                            >App</a
                        >
                    </li>
                    <li><a href="https://shop.spacehey.com/">Shop</a></li>
                    <li class="">
                        <a href="https://spacehey.com/about">About</a>
                    </li>
                </ul>
            </nav>
            <main>
                <div
                    class="row profile"
                    itemscope
                    itemtype="https://schema.org/Person"
                >
                    <meta
                        itemprop="url"
                        content="https://spacehey.com/profile?id=4293092"
                    />
                    <meta itemprop="identifier" content="4293092" />

                    <div class="col w-40 left">
                        <span itemprop="name">
                            <h1>Anto93</h1>
                        </span>
                        <div class="general-about">
                            <div class="profile-pic">
                                <img
                                    class="pfp-fallback"
                                    src="https://static.spacehey.net/img/default/profilepic.png"
                                    alt="Anto93's profile picture"
                                />
                            </div>
                            <div class="details">
                                <p class="online">
                                    <img
                                        src="https://static.spacehey.net/img/green_person.svg"
                                        aria-hidden="true"
                                        alt="Online icon"
                                        loading="lazy"
                                    />
                                    ONLINE!
                                </p>
                            </div>
                        </div>
                        <div class="mood">
                            <p>
                                <b>Mood:</b>
                            </p>
                            <p>
                                <b
                                    >View my:
                                    <a
                                        href="https://blog.spacehey.com/user?id=4293092"
                                        >Blog</a
                                    >
                                    |
                                    <a
                                        href="https://forum.spacehey.com/user?id=4293092"
                                        >Forum Topics</a
                                    >
                                </b>
                            </p>
                        </div>
                        <div class="contact">
                            <div class="heading">
                                <h4>Contacting Anto93</h4>
                            </div>
                            <div class="inner">
                                <div class="f-row">
                                    <div class="f-col">
                                        <a
                                            href="/addfriend?id=4293092"
                                            rel="nofollow"
                                        >
                                            <img
                                                src="https://static.spacehey.net/icons/add.png"
                                                class="icon"
                                                aria-hidden="true"
                                                loading="lazy"
                                                alt=""
                                            />
                                            Add to Friends
                                        </a>
                                    </div>
                                    <div class="f-col">
                                        <a
                                            href="/addfavorite?id=4293092"
                                            rel="nofollow"
                                        >
                                            <img
                                                src="https://static.spacehey.net/icons/award_star_add.png"
                                                class="icon"
                                                aria-hidden="true"
                                                loading="lazy"
                                                alt=""
                                            />
                                            Add to Favorites
                                        </a>
                                    </div>
                                </div>
                                <div class="f-row">
                                    <div class="f-col">
                                        <a
                                            href="https://im.spacehey.com?user=4293092"
                                            rel="nofollow"
                                        >
                                            <img
                                                src="https://static.spacehey.net/icons/comment.png"
                                                class="icon"
                                                aria-hidden="true"
                                                loading="lazy"
                                                alt=""
                                            />
                                            Send Message
                                        </a>
                                    </div>
                                    <div class="f-col">
                                        <a
                                            href="https://im.spacehey.com/new?text=https://spacehey.com/profile?id=4293092"
                                            rel="nofollow"
                                        >
                                            <img
                                                src="https://static.spacehey.net/icons/arrow_right.png"
                                                class="icon"
                                                aria-hidden="true"
                                                loading="lazy"
                                                alt=""
                                            />
                                            Forward to Friend
                                        </a>
                                    </div>
                                </div>
                                <div class="f-row">
                                    <div class="f-col">
                                        <a
                                            href="https://im.spacehey.com?user=4293092"
                                            rel="nofollow"
                                        >
                                            <img
                                                src="https://static.spacehey.net/icons/email.png"
                                                class="icon"
                                                aria-hidden="true"
                                                loading="lazy"
                                                alt=""
                                            />
                                            Instant Message
                                        </a>
                                    </div>
                                    <div class="f-col">
                                        <a
                                            href="/block?id=4293092"
                                            rel="nofollow"
                                        >
                                            <img
                                                src="https://static.spacehey.net/icons/exclamation.png"
                                                class="icon"
                                                aria-hidden="true"
                                                loading="lazy"
                                                alt=""
                                            />
                                            Block User
                                        </a>
                                    </div>
                                </div>
                                <div class="f-row">
                                    <div class="f-col">
                                        <a href="/soon?new">
                                            <img
                                                src="https://static.spacehey.net/icons/group_add.png"
                                                class="icon"
                                                aria-hidden="true"
                                                loading="lazy"
                                                alt=""
                                            />
                                            Add to Group
                                        </a>
                                    </div>
                                    <div class="f-col">
                                        <a
                                            href="/report?type=user&id=4293092"
                                            rel="nofollow"
                                        >
                                            <img
                                                src="https://static.spacehey.net/icons/flag_red.png"
                                                class="icon"
                                                aria-hidden="true"
                                                loading="lazy"
                                                alt=""
                                            />
                                            Report User
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="url-info">
                            <p><b>SpaceHey URL:</b></p>
                            <p>https://spacehey.com/profile?id=4293092</p>
                        </div>
                        <div class="table-section">
                            <div class="heading">
                                <h4>Anto93's Interests</h4>
                            </div>
                            <div class="inner">
                                <table
                                    class="details-table"
                                    cellspacing="3"
                                    cellpadding="3"
                                >
                                    <tbody>
                                        <tr>
                                            <td>
                                                <p>General</p>
                                            </td>
                                            <td>
                                                <p></p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>Music</p>
                                            </td>
                                            <td>
                                                <p></p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>Movies</p>
                                            </td>
                                            <td>
                                                <p></p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>Television</p>
                                            </td>
                                            <td>
                                                <p></p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>Books</p>
                                            </td>
                                            <td>
                                                <p></p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>Heroes</p>
                                            </td>
                                            <td>
                                                <p></p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col right">
                        <div class="blog-preview">
                            <h4>
                                Anto93's Latest Blog Entries [<a
                                    href="https://blog.spacehey.com/user?id=4293092"
                                    >View Blog</a
                                >]
                            </h4>
                            <p><i>There are no Blog Entries yet.</i></p>
                        </div>
                        <div class="blurbs">
                            <div class="heading">
                                <h4>Anto93's Blurbs</h4>
                            </div>
                            <div class="inner">
                                <div class="section">
                                    <h4>About me:</h4>
                                    <p itemprop="description"></p>
                                </div>
                                <div class="section">
                                    <h4>Who I'd like to meet:</h4>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div class="friends">
                            <div class="heading">
                                <h4>Anto93's Friend Space</h4>
                                <a class="more" href="/friends?id=4293092"
                                    >[view all]</a
                                >
                            </div>
                            <div class="inner">
                                <p>
                                    <b
                                        >Anto93 has
                                        <span class="count">2</span> friends.</b
                                    >
                                </p>
                                <div class="friends-grid">
                                    <div class="person">
                                        <a href="/profile?id=2">
                                            <p>
                                                SpaceHey
                                                <span
                                                    class="verified-info"
                                                    title="Verified User"
                                                    data-reason="Official Brand Account"
                                                    ><img
                                                        src="https://static.spacehey.net/icons2/tick_light_blue.png"
                                                        class="icon verified"
                                                        aria-hidden="true"
                                                        loading="lazy"
                                                        alt=""
                                                /></span>
                                            </p>
                                        </a>
                                        <a href="/profile?id=2">
                                            <img
                                                class="pfp-fallback"
                                                src="https://cdn.spacehey.net/profilepics/2_942c747dfa91de093ccc26a18a172a1d.png?expires=1761737454&token=23c697c5d0b0093903ddbbeb63d02227c3105de359d3aa850e7541d56a45f471"
                                                alt="SpaceHey's profile picture"
                                                loading="lazy"
                                            />
                                        </a>
                                    </div>
                                    <div class="person">
                                        <a href="/profile?id=1">
                                            <p>
                                                An
                                                <span
                                                    class="verified-info"
                                                    title="Verified User"
                                                    data-reason="Creator of SpaceHey"
                                                    ><img
                                                        src="https://static.spacehey.net/icons2/tick_light_blue.png"
                                                        class="icon verified"
                                                        aria-hidden="true"
                                                        loading="lazy"
                                                        alt=""
                                                /></span>
                                            </p>
                                        </a>
                                        <a href="/profile?id=1">
                                            <img
                                                class="pfp-fallback"
                                                src="https://cdn.spacehey.net/profilepics/1_b83a9dbe834f57530756574591887229.png?expires=1761737454&token=8ff42accc3d4bb35efc5c4e3f7c4e7b71ec7c68d25f60071061a25e3d51718ef"
                                                alt="An's profile picture"
                                                loading="lazy"
                                            />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="friends" id="comments">
                            <div class="heading">
                                <h4>Anto93's Friends Comments</h4>
                            </div>
                            <div class="inner">
                                <p>
                                    <b>
                                        Displaying
                                        <span class="count">0</span> of
                                        <span class="count">0</span> comments (
                                        <a href="/comments?id=4293092"
                                            >View all</a
                                        >
                                        |
                                        <a href="/addcomment?id=4293092"
                                            >Add Comment</a
                                        >
                                        )
                                    </b>
                                </p>
                                <table
                                    class="comments-table"
                                    cellspacing="0"
                                    cellpadding="3"
                                    bordercolor="ffffff"
                                    border="1"
                                >
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="code"></div>
            </main>
            <footer>
                <p>
                    brought to you by
                    <a
                        href="https://tibush.com/labs"
                        target="_blank"
                        rel="noopener"
                        >tibush labs</a
                    >
                </p>
                <p>
                    <i
                        >Disclaimer: This is a fan-based project and is not
                        affiliated with MySpace&reg; in any way.</i
                    >
                </p>
                <ul class="links">
                    <li><a href="https://spacehey.com/about">About</a></li>
                    <li><a href="https://spacehey.com/news">News</a></li>
                    <li><a href="https://spacehey.com/rules">Rules</a></li>
                    <li><a href="https://spacehey.com/mobile">App</a></li>
                    <li><a href="https://spacehey.com/brand">Brand</a></li>
                    <li><a href="https://spacehey.com/credits">Credits</a></li>
                    <li><a href="https://rss.spacehey.com">RSS</a></li>
                    <li><a href="https://spacehey.com/tos">Terms</a></li>
                    <li><a href="https://spacehey.com/privacy">Privacy</a></li>
                    <li><a href="https://spacehey.com/imprint">Imprint</a></li>
                    <li>
                        <a
                            href="mailto:support@spacehey.com?subject=SpaceHey.com"
                            >Contact</a
                        >
                    </li>
                    <li>
                        <a href="https://spacehey.com/report">Report Abuse</a>
                    </li>
                    <li><a href="https://status.spacehey.com">Status</a></li>
                    <li>
                        <a href="https://shop.spacehey.com/">SpaceHey Shop</a>
                    </li>
                </ul>
                <p class="copyright">
                    <a href="https://spacehey.com/"
                        >&copy;2020-2025 SpaceHey.com All Rights Reserved.</a
                    >
                </p>
            </footer>
        </div>

        <link
            rel="stylesheet"
            href="https://spacehey.com/css/important.css?c=994aafba76bf9205f4f293837ea21a3ecdfd1dbc4223ec4de3cac4e15c853257"
        />
    </body>
</html>
