@import url("http://localhost:57391/dist/Endfield/style/body.css");

body main,
body footer {
    background: none;
}

body .container .row.profile .col.right {
    display: contents;
}

body .container nav {
    display: grid !important;
    position: sticky;
    width: 100%;
    top: 0;
    padding: 1rem 4rem;
    grid-template-columns: 1fr 6fr 1fr;

    .top {
        display: contents !important;
        .center {
            display: none;
        }
        .right {
            grid-area: 1/3;
        }
    }

    .links {
        display: flex;
        li {
            all: unset;
            a {
                all: unset;
            }
            &::after {
                content: none;
            }
        }
    }

    > * {
        background: none;
    }
}
