/* .col>*{outline:4px solid black!important;} body nav, body footer {display:none!important;} /*indev*/

.container {
    width: 100% !important;
    overflow: hidden auto;
}

.row.profile {
    position: relative;
}

h1 {
    font-size: var(--xl);
    color: var(--text-color);
}

h2,
h3 {
    font-size: var(--xl);
    color: var(--text-color);
}

h4 {
    font-size: var(--l);
    color: var(--text-color);
}

html p {
    font-size: var(--m);
    color: var(--text-color);
}

/*
Create reference website's column sections.
*/

.col > *:not(span) {
    height: calc(var(--xxl) * 7);
    position: relative;
    margin: 0 !important;
}

/*
Turn name span into hero section
- splice profile info into this
*/

html body .container .row.profile span[itemprop="name"] {
    /* https://web-static.hg-cdn.com/endfield/official-v4/_next/static/media/kv.4584e64b.jpg */
    background: center / cover
        url("https://images.freecreatives.com/wp-content/uploads/2016/03/White-Abstract-Wallpaper-1.jpg"); /* turn into var */
    position: relative;
    display: block;
    height: 100vh;
    margin: 0;
    h1 {
        font-size: var(--xxl);
        position: absolute;
        margin: 0;
        left: var(--xxl);
        top: calc(80% - var(--xxl));
        translate: 0 calc(var(--m) * -1); /* add margin on absolute position */
        mix-blend-mode: soft-light;
        color: var(--text-color-secondary);
        z-index: 2;
    }

    &::before {
        content: "";
        position: absolute;
        border-bottom: 2px solid var(--color-t);
        width: 70%;
        top: 80%;
        left: 0;
        mask: linear-gradient(90deg, white 70%, transparent);
        mix-blend-mode: soft-light;
    }

    &::after {
        content: "";
        position: absolute;
        border-bottom: 6px solid var(--color-ef-p);
        width: var(--xxl);
        top: 80%;
        left: var(--xxl);
        translate: 0 -2px;
    }
}

.col .general-about {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    .profile-pic {
        position: absolute;
        bottom: 20%;
        left: var(--xl);
        margin: 0;
        width: calc(var(--xl) * 3);
        height: calc(var(--xl) * 3);
        mix-blend-mode: overlay;
        translate: calc(var(--l) * -1) calc(var(--l) * -1);
        z-index: 1;
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            max-width: 100%;
            max-height: 100%;
        }
    }
}

.col .general-about .details {
    display: flex;
    text-wrap: nowrap;
    position: absolute;
    left: var(--xxl);
    bottom: var(--m);
    width: 100%;
    gap: 1rem;
    p {
        font-size: var(--s);
        color: var(--text-color-secondary);
        filter: brightness(0.7);
        &::before {
            content: ">> ";
        }
    }
    br {
        display: none;
    } /* br in time.ago causing issue */
}

/*
shift first row of interactions on contact to be bound to hero
*/

.contact .inner .f-row:nth-child(1) {
    position: absolute;
    height: 100vh;
    width: 100%;
    left: 0;
    top: 0;
    .f-col {
        position: absolute;
        display: flex;
        top: calc(80% + var(--l));

        a {
            padding: var(--l) var(--l);
            font-size: var(--l);
            border-radius: 0.3rem;
            box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
        }

        img {
            margin-right: 2rem;
        }

        &:nth-child(1) {
            left: calc(var(--xxl));
            a {
                color: var(--text-color);
                background: var(--color-ef-p);
            }
        }

        &:nth-child(2) {
            left: calc(var(--xxl) + var(--l));
            a {
                background: var(--color-t);
            }
            translate: 100% 0;
        }
    }
}

/*
Create milestone copy for mood | add splash art for effect and morph text
*/

.row.profile .col .mood {
    padding-left: calc(var(--xl) * 1);
    padding-right: calc(var(--xl) * 6);
    display: flex;
    p:nth-child(1) {
        position: absolute;
        left: calc(var(--xl) * 2);
        top: var(--xxl);
        font-size: var(--l);
        font-weight: 800;
        text-transform: uppercase;

        b {
            position: relative;
            display: inline-block;
            font-weight: 400;
            background: var(--color-t-100);
            padding: var(--xs);
            display: flex;
            text-transform: uppercase;
            justify-content: right;
            font-size: var(--m);
            max-width: 14ch;

            &::before {
                content: "";
                background: left center / contain no-repeat
                    url("https://i.ibb.co/YFQWqnXz/small-signature-1.png");
                position: absolute;
                width: var(--xl);
                height: var(--m);
                bottom: 100%;
                left: 0;
            }
        }
    }

    p:nth-child(2) {
        display: contents;

        /* image */
        &::after {
            content: "";
            position: absolute;
            top: var(--m);
            right: 30%;
            height: calc(var(--xxl) * 6);
            width: calc(var(--xxl) * 6);
            mask: linear-gradient(180deg, white 40%, transparent 80%);
            background: center / contain no-repeat
                url("https://endfield.wiki.gg/images/Gilberta_Splash_Art.png?57eaad");
            pointer-events: none;
        }

        /* section image */
        &::before {
            content: "";
            display: block;
            position: absolute;
            width: calc(var(--xxl) * 3);
            height: 80%;
            order: 2;
            translate: 0 -50%;
            top: 50%;
            right: var(--l);

            background:
                linear-gradient(180deg, transparent 60%, var(--color-ef-p)),
                40% 30% / 300% no-repeat
                    url("https://endfield.wiki.gg/images/Angelina.png"),
                left top / cover
                    url("https://i.ibb.co/QFM36t7L/major-signature-1.png");
        }
    } /* gut useless paragraph for psuedoelements :) */

    p:nth-child(2) b {
        flex: 1;
        font-size: 0;
        display: flex;
        height: 100%;
        padding: var(--xxl) var(--xl);
        align-items: end;
        justify-content: space-evenly;
        position: relative;
        /* useless filler text removal */
        a {
            flex: 1;
            font-size: var(--l);
            color: var(--text-color);
            display: inline-flex;
            border-bottom: var(--m) solid var(--text-color);
            font-weight: 800;
            align-items: center;
            flex-direction: column;
            text-transform: uppercase;
            &::after {
                content: "";
                display: block;
                height: 1rem;
                width: 100%;
                background: repeating-linear-gradient(
                    45deg,
                    var(--color-ef-p) 0px,
                    var(--color-ef-p) 4px,
                    var(--color-t) 4px,
                    var(--color-t) 8px
                );
                margin-bottom: var(--xs);
            }

            &::before {
                content: "";
                display: inline-block;
                width: var(--xxl);
                height: var(--xxl);
                border: 1px solid red;
            }
            &:not(:last-child) {
                margin-right: 1rem;
            }
        }

        &::after {
            content: "";
            background: bottom / contain no-repeat
                url("https://i.ibb.co/kFVXCTJ/large-signature.png");
            position: absolute;
            bottom: calc(var(--xxl) * 3);
            left: var(--xl);
            width: var(--xxl);
            height: var(--xxl);
        }

        &::before {
            content: "";
            background: center / contain no-repeat
                url("https://web-static.hg-cdn.com/endfield/official-v4/_next/static/media/color-bar.1f0aa038.png");
            position: absolute;
            bottom: calc(var(--xxl) * 2);
            left: var(--xl);
            width: var(--m);
            height: var(--xxl);
        }
    }

    &::before {
        content: "";
        background:
            center / contain
                url("https://icon-library.com/images/open-book-icon/open-book-icon-14.jpg"),
            var(--text-color);
        position: absolute;
        top: calc(var(--xxl) - var(--l));
        translate: calc(var(--m) * -1) -50%;
        left: var(--xxl);
        height: var(--xxl);
        width: var(--xxl);
        filter: invert(1);
    }

    &::after {
        content: "";
        background: center / contain no-repeat
            url("https://i.ibb.co/dsPrWh92/layout-motiff-signature.png");
        position: absolute;
        top: calc(var(--xxl) * 3);
        translate: calc(var(--m) * -1) -50%;
        width: calc(var(--xxl) * 3);
        height: calc(var(--xxl) * 3);
        filter: drop-shadow(2px 2px 4px rgb(from black r g b / 50%));
        font-weight: 800;
        font-size: var(--l);
        right: calc(30% + (var(--xxl) * 3));
    }
}

/*
contact section
*/

.row.profile .col .contact {
    position: unset;
}

.row.profile .col .contact {
    display: grid !important;
    grid-template-rows: var(--xxl) 1fr;
    border: none;
    .heading {
        border-bottom: var(--m) solid var(--color-t);
        background: none;
        padding-left: calc(var(--xxl) * 2);
        position: relative;

        h4 {
            position: relative;
            top: 40%;
            text-transform: uppercase;
            z-index: 2;
            &::after {
                content: "WAYS OF CONTACTING ME";
                display: block;
                font-size: var(--s);
                font-weight: 400;
            }
        }

        &::after {
            content: "";
            background: center bottom / contain no-repeat
                url("https://web-static.hg-cdn.com/endfield/official-v4/_next/static/media/section_divider_icon_lore.6968c414.png");
            width: calc(var(--xxl) * 1.8);
            height: calc(var(--xxl) * 2);
            position: absolute;
            left: var(--s);
            bottom: 0;
            z-index: 1;
        }

        &::before {
            content: "";
            background: var(--color-ef-p);
            width: 100%;
            height: 70%;
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 1;
        }
    }
    .inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: var(--l) var(--l) var(--l) var(--xl);
    }
}

.contact .inner .f-row:not(:nth-child(1)) {
    padding: var(--m);
    padding-top: var(--xl);
    background: var(--color-t);
    display: flex;
    height: 30%;
    margin: 0;
    position: relative;
    filter: drop-shadow(2px 2px 6px rgb(from black r g b / 40%));
    gap: var(--m);
    .f-col {
        padding: var(--m);
        display: flex;
        flex-direction: column;
        flex: 1;
        position: relative;

        a {
            font-size: var(--m);
            background: center / 100% no-repeat
                url("https://web-static.hg-cdn.com/endfield/special/creators-application/assets/imgs/title-divider.4806d1.png");
            padding: var(--s);
            border-radius: var(--m);
            color: var(--text-color-secondary);
            img {
                display: none;
            }
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: var(--l);
            height: var(--l);
            background: center / contain no-repeat
                url("https://web-static.hg-cdn.com/endfield/special/creators-application/assets/imgs/title-icon-4.359920.png");
        }

        &::before {
            content: "URL";
            color: var(--text-color-secondary);
            text-shadow: -2px 2px 6px rgb(from black r g b / 20%);
            font-size: var(--l);
            background: repeating-linear-gradient(
                45deg,
                var(--color-t-200) 0px,
                var(--color-t-200) 4px,
                rgb(from var(--color-t-200) r g b / 50%) 4px,
                rgb(from var(--color-t-200) r g b / 50%) 8px
            );
            border-radius: var(--m);
            display: flex;
            justify-content: right;
            padding-right: var(--m);
            mask: linear-gradient(270deg, white, transparent 50%);
        }
    }

    &::after {
        content: "CONTACT ME";
        font-size: var(--l);
        position: absolute;
        right: 100%;
        writing-mode: vertical-lr;
        background: repeating-linear-gradient(
            45deg,
            var(--color-t-200) 0px,
            var(--color-t-200) 2px,
            var(--color-t) 2px,
            var(--color-t) 4px
        );
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        top: 0;
        mask: linear-gradient(270deg, white, transparent);
    }

    &::before {
        content: "CONTACT";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        font-weight: 800;
        font-size: var(--m);
        background: repeating-linear-gradient(
            45deg,
            var(--color-ef-p) 0px,
            var(--color-ef-p) 3px,
            var(--color-t) 3px,
            var(--color-t) 6px
        );
        padding: var(--s) 0 var(--s) var(--m);
        box-sizing: border-box;
    }
}

/*
moving up url & info to fixed so they aren't in the way
*/

.url-info,
.profile-info {
    position: fixed !important;
    top: 0;
    left: 0;
    display: none !important; /* development */
}

/*
general table sect
*/

.row.profile .col .table-section {
    display: grid !important;
    grid-template-rows: var(--xxl) 1fr;
    height: auto !important;
    border: none;
    .heading {
        background: none;
        position: relative;
        h4 {
            text-transform: uppercase;
            font-size: var(--xxl);
            z-index: 2;
            text-wrap: nowrap;
            letter-spacing: calc(var(--xs) * -1);
            &::before {
                content: "// ";
            }
        }
    }
    .inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.table-section .inner tbody {
    display: flex;
    flex-direction: column;
    tr {
        padding-top: var(--xl);
        display: flex;
        padding-inline: var(--xxl) var(--l);

        &:nth-child(even) {
            flex-direction: row-reverse;
        }

        td {
            background: none;
        }

        td:nth-child(1) {
            position: relative;
            flex: 1;

            p {
                font-size: var(--l);
                text-transform: uppercase;
                flex-direction: column;
                font-weight: 800;
                display: flex;
                order: 1;
                &::after {
                    content: "";
                    background: left center / contain no-repeat
                        url("https://i.ibb.co/YFQWqnXz/small-signature-1.png");
                    width: var(--xl);
                    height: var(--s);
                    margin-bottom: var(--xs);
                    order: -2;
                }

                &::before {
                    content: "SECTION";
                    font-weight: 400;
                    font-size: var(--m);
                    background: var(--color-t-200);
                    width: fit-content;
                    padding: var(--xxs);
                    padding-left: 4ch;
                    order: -1;
                }
            }

            &::after {
                content: "";
                width: var(--xxl);
                height: var(--xxl);
                background: left top / contain no-repeat
                    url("https://i.ibb.co/HTgK5mG7/large-signature-xl.png");
                display: inline-block;
                margin-block: var(--xl) var(--xxl);
            }

            &::before {
                content: "";
                position: absolute;
                width: var(--xl);
                height: var(--xl);
                background:
                    center / 75% 75% no-repeat
                        url("https://cdn-icons-png.freepik.com/512/64/64040.png"),
                    var(--text-color);
                filter: invert(1);
                bottom: 0;
                left: 0;
            }
        }

        td:nth-child(2) {
            flex: 3;
        }
    }
}

.table-section table,
.table-section tbody {
    display: contents;
}

/*
remove blog & blurbs due to redundancy
just use big interest sections with <a> tags to your content
*/

.blog-preview,
.blurbs {
    display: none !important;
}

/*
friends display & amount
*/

main .col .friends:not(#comments) {
    height: auto;
    .heading {
        display: none !important;
    }
    .inner {
        padding: 0 !important;
    }
    .inner > p {
        font-size: 0;
        margin: 0;
        width: 0;
        span {
            background: linear-gradient(
                -45deg,
                transparent,
                transparent 13.9512529279%,
                black 0,
                black 36.0487470721%,
                transparent 0,
                transparent 63.9512529279%,
                black 0,
                black 86.0487470721%,
                transparent 0,
                transparent
            );
            color: transparent;
            background-clip: text;
            -webkit-background-clip: text;
            font-size: calc(var(--xxl) * 2);
            background-size: var(--xs) var(--xs);
            position: absolute;
            top: 0;
            left: 0;
            mask: linear-gradient(180deg, white, transparent);
            z-index: 1;
            &::after {
                content: "FRIENDS";
                display: inline-block;
                margin-left: var(--xxl);
            }
        }
    }
    .friends-grid {
        display: flex;
        z-index: 2;
        position: relative;
        padding: var(--xl);
        gap: var(--l);
        align-items: center;
        height: calc(var(--xxl) * 2);
        .person {
            padding: 0;
            margin: 0;
            width: var(--xxl);
            height: var(--xxl);
            border-radius: 50%;
            border: var(--s) white solid;
            box-shadow: 0px 0px 8px var(--color-t-200);
            overflow: hidden;
            a:nth-child(1) {
                display: none;
            }
            a:nth-child(2) {
                img {
                    margin: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    max-width: 100%;
                    max-height: 100%;
                    border-radius: 50%;
                }
            }
        }
    }
}
